<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="min-h-screen w-screen bg-zinc-950 py-4 px-2">
        <h3 class="text-white font-bold text-4xl">Upload File</h3>
        <form action="/upload" enctype="multipart/form-data" method="post" class="px-2 py-5 flex flex-row gap-5 items-center">
            <input type="file" name="image">
            <button type="submit" class="px-8 py-2 bg-blue-500 font-bold text-xl rounded-md outline-none text-zinc-200">Upload File</button>
        </form>
    </div>
</body>
</html>